body {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & > footer {
    padding: 1rem;
    margin-block-start: auto;
    background-color: oklch(93% 0.01 240);
  }
}
mark {
  background-color: oklch(94% 0.2 95);
}


h1,
h2,
h3 {
  line-height: 1.1;
  max-width: 20ch;
	background-color: var(--clr-primary);
  color: #eee;
  padding: 1rem;
}

dt {
  font-weight: bold;
}

dt,
dd {
  display: inline;
}

[aria-current="page"] {
  background-color: #74c0fc;
}