.address {
  /* outline: 1px solid; */
  font-style: normal;
  width: fit-content;
  margin-inline: auto;
  font-size: var(--step-0);
  font-weight: bold;
  padding: var(--space-1);
  background-color: hsl(210, 10%, 96%);
  border: 1px solid var(--color-primary);
  border-radius: 2px;

  @media (prefers-color-scheme: dark) {
    background-color: hsl(210, 10%, 5%);
  }
}

.mail span,
.tel span {
  display: inline-block;
  opacity: 0.8;
  min-inline-size: 6ch;
}

:where(.mail, .tel) a {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--color-text);
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  /* text-underline-position: under; */
}