.hero .heading {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: var(--space-1);
}

.hero__image {
  padding: var(--space-1);
  background-color: #fff2;
  border-radius: 100vh 100vh 1rem 1rem;
  backdrop-filter: blur(2px);
}

.hero .heading img {
  border-radius: 100vh 100vh 1rem 1rem;
  background-color: var(--color-light);

  @media (max-width: 30em) {
    max-inline-size: var(--size-content-2);
  }


}

@media (min-width: 30em) {
  .hero .heading {
    grid-template-columns: 2fr 1fr;
  }

  .hero .heading img {
    grid-column-start: 2;
  }

  h1 {
    grid-row: 1;
    grid-column-start: 1;
  }
}

@keyframes fade-in {
  50% {
    transform: translateY(-0.1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

:where(h1) {
  margin-inline: auto;
  font-weight: normal;
  text-shadow: 1px 1px 1px #0003;
  opacity: 0.9;
  transform: translateY(1rem);
  animation-name: fade-in;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.main__header {
  & h1 {
    text-align: center;
    font-weight: 600;
  }
}

.name {
  display: inline-block;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    inline-size: 100%;
    block-size: 4px;
    bottom: -2px;
    border-radius: 100vh;
    left: 0;
    background-color: var(--color-accent);
    transform: scaleX(0);
    /* opacity: 0; */
    transform-origin: left;
    animation-name: draw;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }
}

@keyframes draw {
  100%{
    transform: scaleX(1);
    opacity: 1;
  }
}
