nav[aria-label="Previous and/or next page"] {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.post-previous {
  grid-column-start: 1;
  /* margin-right: auto; */
}

.post-next {
  grid-column-start: 2;
  /* margin-left: auto; */
}