.pricing-table {
  inline-size: 100%;
  border-collapse: collapse;
  text-align: end;

  & :where(td, th) {
    padding: var(--space-0);
    padding-block-end: 0;
    text-align: end;
    font-variant-numeric: tabular-nums;
    letter-spacing: -0.5px;
  }

  & thead td {
    text-align: start;
  }

  & thead tr {
    background-color: var(--color-primary);
    color: var(--color-text-dark);
  }

  & tbody tr:nth-child(odd) {
    background-color: hsl(210 10% 50% / 0.2);
  }

  & tbody tr:nth-child(even) {
    background-color: hsl(210 10% 50% / 0.3);
  }

  & tbody td {
    text-align: end;
  }

  & :where(tbody, thead) :where(td, th):first-child {
    /* text-align: center; */
  }
}

tr.description th {
  font-size: var(--step-s);
  padding: calc(var(--space-0) / 2);
  padding-top: 0;
  padding-inline-end: var(--space-0);
  opacity: 0.9;
  font-weight: normal;
}
