.site-head, .logo, #mainnav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.site-head {
  justify-content: space-between;
  gap: 1rem;
}

.logo {
  gap: var(--space-0);
}

#mainnav ul {
padding: 0;
list-style: none;
gap: var(--space-0);

& a {
  display: inline-block;
  padding: 0.5em;
  text-decoration: none;
  transition: background-color 0.1s ease-out;
  border-radius: 3px;

  &:where(:hover, :focus-visible) {
    background-color: hsla(210, 20%, 10%, 0.2);
    transition: background-color 0.3s ease-out;
  }

}
}

[aria-current="page"] {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    inset: 0;
    inline-size: 0.4rem;
    block-size: 0.4rem;
    border-radius: 100vh;
    background-color: #fff;
    margin-inline: auto;
    opacity: 0.8;
    transform: translateY(1px);
  }
}



