.tags-list {
  display: inline-flex;
  list-style: none;
  gap: 1rem;
  flex-wrap: wrap;
  text-decoration: none;
  margin-block-end: 1rem;
  border-radius: 3px;
  padding: 1rem;
  background-color: #e7f5ff;

  & a {
    text-decoration: none;
    color: #1864ab;
  }

  & [aria-hidden="true"] {
    display: inline-grid;
    place-items: center;
    background-color: #1864ab;
    color: rgb(234, 244, 244);
    font-size: 0.9rem;
    font-weight: bold;
    inline-size: 1.5rem;
    block-size: 1.5rem;
    border-radius: 100vh;
  }
}