---
layout: 'layouts/base.njk'
---

<h2>Post</h2>
<h3>Tag Cloud</h3>
<ul class="tag-cloud">
  {% for tag in tags %}
    <li>
      <a href="/tags/{{ tag }}/">{{ tag | lower }}</a>
    </li>
  {% endfor %}
</ul>
{{ content | safe }}
{% set previousPost = collections.post | getPreviousCollectionItem %}
{% set nextPost = collections.post | getNextCollectionItem %}
<nav aria-label="Previous and/or next page">
  {% if previousPost %}
    <a class="post-previous" href="{{ previousPost.url }}">Previous: {{ previousPost.data.title }}</a>
  {% endif %}
  {% if nextPost %}
    <a class="post-next" href="{{ nextPost.url }}">Next: {{ nextPost.data.title }}</a>
  {% endif %}
</nav>