.main {

  & :where(h2) {
    text-align: center;
    margin-inline: auto;
  }

  & :where(.icon-large) {
    margin-inline: auto;
    fill: var(--clr-3);
    background-color: var(--clr-7);
    border: 1px solid var(--clr-8);
    border-radius: 100vh;

    @media (prefers-color-scheme: dark) {
      border: 1px solid var(--clr-6);
    }
  }
}
