---
title: About
layout: 'base.njk'
permalink: "/about"
---

<header class="main__header">
  <div class="region">
    <div class="wrapper" data-width="wide">
      <div class="heading">
        <h1>About me</h1>
      </div>
    </div>
  </div>
</header>

<article class="region">
  <div class="wrapper flow about-content">
    <h2>Bio</h2>
    <p>I'm a <strong>trained psychologist</strong> with an experience of more than 4 years and have worked with both children and adults.</p>
    <p>My training and experience has enabled me to deal with issues like:</p>
    <ul>
      <li>Anxiety</li>
      <li>Depression</li>
      <li>Work stress</li>
      <li>Work-life imbalance</li>
      <li>Developmental disorders</li>
      <li>Parenting</li>
    </ul>

    <h2>Qualifications</h2>
    <ol type="I" style="padding: 0; list-style-position: inside">
      <li><strong>B.A. (Honours) Psychology</strong> - University of Delhi</li>
      <li><strong>M.A. in Applied Psychology with specialization in Clinical Psychology</strong> - (TISS-BALM)</li>
    </ol>
  
  </div>
</article>