---
title: Contact
layout: 'base.njk'
---

<header class="main__header">
  <div class="region">
    <div class="wrapper" data-width="wide">
      <div class="heading">
        <h1>Contact</h1>
      </div>
    </div>
  </div>
</header>
<article class="region">
  <div class="wrapper flow">
    <h2>Get in touch</h2>
    <address class="flow address">
      <p class="mail">
        <span>Email:
        </span>
        <a href="mailto:pritikasangwan@gmail.com">pritikasangwan@gmail.com</a>
      </p>
      <p class="tel">
        <span>Phone:
        </span>
        <a href="tel:+919999999999">9999999999</a>
      </p>
    </address>
  </div>
</article>