---
title: 'Eleventy supplied data'
permalink: '/eleventy-data/'
---



<h2><code>page</code></h2>
<dl>
  {% for key, value in page %}
  <div>
    <dt>{{key}}</dt><dd>{{value}}</dd>
  </div>
{% endfor %}
</dl>

{{eleventy | dump}}