---
title: Home
layout: 'base.njk'
permalink: "/index.html"
---

<h2>This branch has</h2>
<ul>
    <li>PostCSS</li>
    <li>Markdown plugins</li>
    <li>local fonts</li>
    <li><code>Image</code> plugin</li>
    <li>meta tags</li>
    <li>favicon</li>
</ul>








