<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% if thumbnail %}
        {% set thumb = site.url + '/images/' + thumbnail %}
      {% else %}
        {% set thumb = site.url + '/images/' + site.thumbnail %}
      {% endif %}
      {% metagen
  title=title or site.title,
  desc=description or site.description,
  url=site.url + page.url,
  img=thumb,
  img_alt=thumbnailAlt,
  twitter_card_type="summary_large_image",
  twitter_handle=site.twitter,
  name=site.author,
  generator="eleventy",
  comments=true %}
      <link rel="stylesheet" href="/assets/css/style.css">
        <title>{{ title }}</title>