<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% if thumbnail %}
        {% set thumb = site.url + '/images/' + thumbnail %}
      {% else %}
        {% set thumb = site.url + '/images/' + site.thumbnail %}
      {% endif %}
      {% metagen
          title=title or site.title,
          desc=description or site.description,
          url=site.url + page.url,
          img=thumb,
          img_alt=thumbnailAlt,
          twitter_card_type="summary_large_image",
          twitter_handle=site.twitter,
          name=site.author,
          generator="eleventy",
          comments=true %}
<link rel="stylesheet" href="/assets/css/style.css">
<title>{{ title }}</title>
<link
      rel="preload"
      href="/assets/fonts/merriweather/merriweather-v30-latin-300.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/merriweather/merriweather-v30-latin-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/merriweather/merriweather-v30-latin-900.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

<link rel="icon" href="/favicon.ico" sizes="any">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
{# <link rel="manifest" href="/favicon/site.webmanifest"> #}