<link
      rel="preload"
      href="/assets/fonts/rubik/rubik-v26-latin-300.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/rubik/rubik-v26-latin-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/rubik/rubik-v26-latin-600.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/rubik/rubik-v26-latin-700.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />